.dctrng{
    
    .styles_closeButton__2CERh {
        cursor: pointer;
        z-index: 999;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        width: 2.75rem;
        height: 2.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: transparent;
        pointer-events: auto
    }
    
    .styles_closeButton__2CERh svg {
        display: block
    }
    
    @media screen and (min-width:920px) {
        .styles_closeButton__2CERh {
            display: none
        }
    }
    
    .styles_container__AKGKk {
        position: relative;
        transition: .2s var(--ease-snappy);
        transition-property: opacity, transform
    }
    
    .styles_container__AKGKk:hover .styles_label___vMHi {
        opacity: 1;
        transform: translateX(-50%)
    }
    
    .styles_container__AKGKk:hover .styles_icon__t80S5 {
        transform: translateY(-.25rem)
    }
    
    .styles_label___vMHi {
        display: block;
        z-index: 9;
        position: absolute;
        top: -3.5rem;
        margin-left: 50%;
        padding: 1.2rem 1.05rem;
        box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .02), inset 0 1px 2px 0 hsla(0, 0%, 100%, .04);
        background: linear-gradient(0deg, #0d0d0d, #0d0d0d), hsla(0, 0%, 75%, .13);
        border-radius: 2rem;
        font-size: .8125rem;
        line-height: 0;
        opacity: 0;
        transform: translateY(.5rem) translateX(-50%);
        transition: inherit;
        pointer-events: none
    }
    
    .styles_icon__t80S5 {
        overflow: hidden;
        position: relative;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background: #000;
        box-shadow: 0 0 0 2px #171717;
        transition: inherit
    }
    
    .styles_icon__t80S5 img {
        display: block;
        width: 100%;
        height: auto;
        transition: all .3s var(--ease-snappy)
    }
    
    .styles_container__hqm4Z {
        z-index: 2;
        position: fixed;
        inset: 0;
        display: flex;
        justify-content: flex-end;
        padding: .5rem 0 .5rem .5rem;
        overflow-x: hidden;
        overflow-y: scroll
    }
    
    @media screen and (max-width:920px) {
        .styles_container__hqm4Z {
            display: block;
            padding: 0 .25rem .25rem
        }
    
        .styles_container__hqm4Z:before {
            content: "";
            display: block;
            height: calc(100% - 17rem)
        }
    }
    
    .styles_content__zXdy_ {
        z-index: 2;
        max-width: 30%;
        min-width: 28rem;
        width: 100%;
        padding: 2.75rem 4rem;
        border-radius: .75rem;
        background: rgba(26, 26, 26, .89);
        position: relative;
        display: flex;
        min-height: 100%;
        height: -moz-fit-content;
        height: fit-content
    }
    
    @media screen and (min-width:920px) {
        .styles_content__zXdy_ {
            -webkit-backdrop-filter: blur(2rem);
            backdrop-filter: blur(2rem)
        }
    }
    
    @media screen and (max-width:920px) {
        .styles_content__zXdy_ {
            position: relative;
            max-width: 100%;
            min-width: 0;
            height: 100svh;
            padding: 1.75rem 2rem 2rem;
            border-radius: 1.25rem;
            background: #1a1a1a;
            box-shadow: 0 0 4rem 2rem rgba(0, 0, 0, .8)
        }
    }
    
    .styles_bio__1MIxw,
    .styles_innerContent__RMK_k {
        display: flex;
        flex-direction: column
    }
    
    .styles_bio__1MIxw {
        gap: .5rem;
        min-height: 13rem;
        max-width: 35rem
    }
    
    @media screen and (max-width:920px) {
        .styles_bio__1MIxw {
            max-width: 100%
        }
    }
    
    .styles_footer__OmqYC {
        margin-top: auto;
        padding-top: 2rem;
        width: 100%
    }
    
    .styles_links__3AvSP {
        padding: 0 0 .5rem
    }
    
    .styles_links__3AvSP ul {
        list-style: none;
        display: flex;
        align-items: center;
        height: 1.75rem;
        gap: .5rem
    }
    
    .styles_links__3AvSP ul li a {
        display: block;
        opacity: .3;
        transition: opacity .1s ease
    }
    
    .styles_links__3AvSP ul li a svg {
        display: block
    }
    
    .styles_links__3AvSP ul li a:hover {
        opacity: 1
    }
    
    .styles_links__3AvSP ul li a:focus-visible {
        opacity: 1
    }
    
    .styles_details__0ByWX {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 2.25rem 0 0
    }
    
    .styles_details__0ByWX>div {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.375rem;
        padding: .25rem 0 .75rem;
        border-bottom: 1px solid hsla(0, 0%, 100%, .05)
    }
    
    .styles_details__0ByWX>div:last-child {
        border-bottom: none
    }
    
    .styles_details__0ByWX>div dt {
        color: var(--color-light)
    }
    
    .styles_details__0ByWX>div dd {
        text-align: right;
        max-width: 60%
    }
    
    .styles_details__0ByWX>div ul {
        list-style: none;
        display: flex
    }
    
    .styles_details__0ByWX>div li[data-highlight=true],
    .styles_details__0ByWX>div span[data-highlight=true] {
        position: relative;
        display: block;
        padding: .25rem .3rem .2rem .35rem;
        color: var(--color);
        border-radius: .375rem;
        margin-left: .3rem;
        font-size: .8125rem;
        font-family: var(--font-secondary);
        font-weight: 400;
        line-height: 1
    }
    
    .styles_details__0ByWX>div li[data-highlight=true]:before,
    .styles_details__0ByWX>div span[data-highlight=true]:before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background: var(--color);
        opacity: .1
    }
    
    .styles_details__0ByWX>div li[data-highlight=true]:after,
    .styles_details__0ByWX>div span[data-highlight=true]:after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        box-shadow: 0 0 0 1px var(--color);
        opacity: .4
    }
    
    .styles_chains__l7o9t {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%
    }
    
    .styles_chains__l7o9t li {
        margin-right: -.4rem
    }
    
    .styles_draggable__UHZii {
        z-index: 2;
        position: relative;
        background: transparent;
        color: inherit;
        will-change: transform
    }
    
    .styles_draggable__UHZii:after {
        z-index: -1;
        content: "";
        opacity: 0;
        pointer-events: none;
        transform: scale(.5);
        transition: .2s var(--ease-snappy);
        transition-property: opacity, transform;
        position: absolute;
        border-radius: 50%;
        inset: 35%;
        box-shadow: 0 0 5rem 5rem var(--bg);
        background: var(--bg)
    }
    
    .styles_draggable__UHZii:focus-visible:after {
        opacity: .35;
        transform: none
    }
    
    .styles_container__m7iLQ {
        position: fixed;
        inset: 0;
        bottom: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none
    }
    
    @media screen and (max-width:920px) {
        .styles_container__m7iLQ {
            bottom: 6rem;
            height: auto
        }
    }
    
    .styles_container__m7iLQ ul {
        position: relative;
        list-style: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none
    }
    
    .styles_container__m7iLQ ul li {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center
    }
    
    .styles_container__m7iLQ ul li .styles_anchor__JuNd_ {
        position: relative;
        pointer-events: none
    }
    
    .styles_container__m7iLQ ul li .styles_anchor__JuNd_ .styles_label__xIgIr {
        z-index: 1;
        position: absolute;
        bottom: 85%;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none
    }
    
    .styles_container__m7iLQ ul li .styles_anchor__JuNd_ .styles_label__xIgIr span {
        display: block;
        position: relative;
        top: 0;
        padding: 1.2rem 1.05rem;
        box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .02), inset 0 1px 2px 0 hsla(0, 0%, 100%, .04);
        background: linear-gradient(0deg, #0d0d0d, #0d0d0d), hsla(0, 0%, 75%, .13);
        border-radius: 2rem;
        font-size: 1.125rem;
        line-height: 0;
        opacity: 0;
        transform: translateY(2rem);
        transition: .2s var(--ease-snappy);
        transition-property: opacity, transform
    }
    
    @media screen and (max-width:920px) {
        .styles_container__m7iLQ ul li .styles_anchor__JuNd_ .styles_label__xIgIr span {
            display: none
        }
    }
    
    .styles_container__m7iLQ ul li .styles_anchor__JuNd_ .styles_logo__gSepY {
        position: relative;
        pointer-events: auto;
        cursor: pointer
    }
    
    .styles_container__m7iLQ ul li .styles_anchor__JuNd_ .styles_logo__gSepY img {
        display: block;
        max-width: none;
        transform: scale(1);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        pointer-events: none
    }
    
    .styles_container__m7iLQ ul li .styles_anchor__JuNd_ .styles_logo__gSepY:active {
        cursor: -webkit-grabbing;
        cursor: grabbing
    }
    
    .styles_container__m7iLQ ul li .styles_anchor__JuNd_:focus-visible .styles_label__xIgIr span,
    .styles_container__m7iLQ ul li .styles_anchor__JuNd_:hover .styles_label__xIgIr span {
        opacity: 1;
        transform: none
    }
    
    .styles_container__m7iLQ ul li .styles_anchor__JuNd_[data-dragging=true] .styles_label__xIgIr span {
        opacity: 0
    }
    
    .styles_container__m7iLQ ul li .styles_anchor__JuNd_[data-disabled=true] .styles_label__xIgIr span {
        color: hsla(0, 0%, 100%, .4)
    }
    
    @media screen and (max-width:920px) {
        .styles_container__m7iLQ ul li .styles_anchor__JuNd_[data-disabled=true] .styles_label__xIgIr {
            z-index: 9999;
            top: 42%;
            bottom: auto
        }
    
        .styles_container__m7iLQ ul li .styles_anchor__JuNd_[data-disabled=true] .styles_label__xIgIr span {
            opacity: 0;
            display: block;
            color: #fff;
            border-radius: 2.25rem;
            border: 1px solid hsla(0, 0%, 100%, .02);
            background: linear-gradient(0deg, #0d0d0d, #0d0d0d), hsla(0, 0%, 75%, .13);
            background-blend-mode: color-dodge, normal;
            box-shadow: inset 0 0 1px 0 hsla(0, 0%, 100%, .04), 0 2px 4px 0 rgba(0, 0, 0, .3);
            transform: scale(.8) translateY(-.5rem);
            transition: all .3s var(--ease-snappy)
        }
    
        .styles_container__m7iLQ ul li .styles_anchor__JuNd_[data-disabled=true][data-toggled=true] .styles_label__xIgIr span {
            opacity: 1;
            transform: none
        }
    }
    
    @keyframes styles_textIn__jlU7M {
        0% {
            transform: translateY(2rem) scale(.8)
        }
    
        to {
            transform: none
        }
    }
    
    .styles_controlsContainer__Lh2Ap {
        z-index: 999;
        position: fixed;
        bottom: 3rem;
        right: 0;
        left: 0;
        display: flex;
        gap: .5rem;
        pointer-events: none
    }
    
    .styles_controlsContainer__Lh2Ap:after {
        content: "";
        max-width: 30%;
        min-width: 28rem
    }
    
    @media screen and (max-width:920px) {
        .styles_controlsContainer__Lh2Ap {
            display: none
        }
    }
    
    .styles_controls__dcFXB {
        display: flex;
        margin: 0 auto;
        padding: 0 .4rem;
        border-radius: 2rem;
        background: hsla(0, 0%, 75%, .13);
        background-blend-mode: color-dodge, normal;
        box-shadow: inset 0 1px 2px 0 hsla(0, 0%, 100%, .04);
        pointer-events: auto
    }
    
    @media screen and (min-width:920px) {
        .styles_controls__dcFXB {
            -webkit-backdrop-filter: blur(2rem);
            backdrop-filter: blur(2rem)
        }
    }
    
    .styles_controls__dcFXB button {
        cursor: pointer;
        background: transparent;
        color: #fff;
        line-height: 1;
        padding: .5rem .4rem;
        transition: all .2s var(--ease-snappy);
        opacity: .33
    }
    
    .styles_controls__dcFXB button:first-child svg {
        transform: scaleX(-1)
    }
    
    .styles_controls__dcFXB button:hover {
        opacity: 1
    }
    
    .styles_controls__dcFXB button:active {
        transform: scale(.8)
    }
    
    .styles_controls__dcFXB button:focus-visible {
        opacity: 1
    }
    
    .styles_controls__dcFXB button:disabled {
        opacity: .3;
        cursor: auto
    }
    
    .styles_content__URj10 {
        position: relative;
        z-index: 99999999;
        min-width: 11.5rem;
        padding: .3125rem;
        color: hsla(0, 0%, 100%, .7);
        background: #1a1a1a;
        border-radius: .5rem;
        box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .03), 0 6px 14px 0 rgba(0, 0, 0, .07);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none
    }
    
    .styles_content__URj10 [data-radix-collection-item] {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: .5rem;
        border-radius: .375rem;
        padding: .3125rem .9375rem .3125rem .375rem;
        font-size: .8125rem;
        font-weight: 300
    }
    
    .styles_content__URj10 [data-radix-collection-item][aria-disabled] {
        pointer-events: none;
        opacity: .2
    }
    
    .styles_content__URj10 [data-radix-collection-item]:hover {
        background: hsla(0, 0%, 100%, .05)
    }
    
    .styles_content__URj10 [data-radix-collection-item] svg {
        display: block
    }
    
    .styles_label__nZ0E0 {
        position: relative;
        white-space: nowrap
    }
    
    @keyframes animation_enterPop__tCQZu {
        0% {
            opacity: 0;
            transform: scale(.96)
        }
    
        to {
            opacity: 1;
            transform: scale(1)
        }
    }
    
    @keyframes animation_exit__Kp0ha {
        0% {
            opacity: 1
        }
    
        to {
            opacity: 0
        }
    }
    
    .animation_contentAnimEnter__wlTW9 {
        animation-name: animation_enterPop__tCQZu;
        animation-timing-function: ease;
        animation-fill-mode: both
    }
    
    .animation_contentAnimEnter__wlTW9,
    .animation_contentAnimExit__xPrvD {
        transform-origin: var(--radix-context-menu-content-transform-origin);
        animation-duration: .1s
    }
    
    .animation_contentAnimExit__xPrvD {
        animation-name: animation_exit__Kp0ha;
        animation-timing-function: ease;
        animation-fill-mode: both
    }
    
    @keyframes styles_fadeIn__5YyCS {
        0% {
            opacity: 0
        }
    
        to {
            opacity: 1
        }
    }
    
    .styles_container__CZwiU {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 2.75rem;
        color: hsla(0, 0%, 100%, .15);
        transition: all .2s ease-in-out
    }
    
    .styles_container__CZwiU[data-hidden] {
        pointer-events: none;
        transform: translateY(2rem);
        opacity: 0
    }
    
    .styles_container__CZwiU header {
        position: relative;
        padding-bottom: .95rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff
    }
    
    .styles_container__CZwiU header>div {
        display: block;
        width: 8.25rem;
        height: auto;
        margin: -20% 0
    }
    
    .styles_container__CZwiU footer {
        animation: styles_fadeIn__5YyCS .8s var(--ease-snappy) both
    }
    
    .styles_links__5qJaS {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem
    }
    
    .styles_links__5qJaS li a {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        font-size: .8125rem;
        font-weight: 400;
        opacity: .35
    }
    
    .styles_links__5qJaS li a:focus,
    .styles_links__5qJaS li a:hover {
        opacity: 1
    }
    
    .styles_links__5qJaS li:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-left: .5rem;
        width: 2px;
        height: 2px;
        background: #fff;
        border-radius: 50%;
        opacity: .35
    }
    
    .styles_links__5qJaS li:last-child:after {
        display: none
    }
    
   
    
}