:root {
    --outline: #12181f;
    --purple: #d0bdfa;
    --green: #b6f5c4;
    --orange: #f1a382;
    --yellow: #fcefab;
    --blue: #a5cae8;
    --whiteSmoke: #f2f2f2;
    --lightGray: #d1d3d4
}

@supports(color:color(display-p3 1 1 1)) {
    :root {
        --outline: color(display-p3 0.0705882353 0.0941176471 0.1215686275);
        --purple: color(display-p3 0.8156862745 0.7411764706 0.9803921569);
        --green: color(display-p3 0.7137254902 0.9607843137 0.768627451);
        --orange: color(display-p3 0.9450980392 0.6392156863 0.5098039216);
        --yellow: color(display-p3 0.9882352941 0.937254902 0.6705882353);
        --blue: color(display-p3 0.6470588235 0.7921568627 0.9098039216);
        --whiteSmoke: color(display-p3 0.9490196078 0.9490196078 0.9490196078);
        --lightGray: color(display-p3 0.8196078431 0.8274509804 0.831372549)
    }
}

:root {
    --font-body: "Avara", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-secondary: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-code: "SF Mono", "SFMono-Regular", "Consolas", "Liberation Mono", Menlo, Courier, monospace;
    --duration-snappy: 750ms;
    --ease-snappy: cubic-bezier(0.175, 0.885, 0.32, 1.1);
    --duration-swift: 1800ms;
    --ease-swift: cubic-bezier(0.19, 1, 0.22, 1);
    --scrollbar-width: var(--ck-scrollbar-width);
    --body-light: #1c1c1c;
    --color: #fff;
    --color-light: hsla(0, 0%, 100%, .3);
    --selection-bg: #000;
    --selection-color: #fff
}

::selection {
    background: var(--selection-bg);
    color: var(--selection-color)
}

::-moz-selection {
    background: var(--selection-bg);
    color: var(--selection-color)
}

* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

::-webkit-scrollbar {
    width: .5rem;
    height: .5rem
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0);
    border-radius: 100px
}

:hover::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, .15)
}

::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, .25)
}

html {
    color: var(--color)
}

body,
html {
    background: var(--body)
}

body {
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-size-adjust: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-family: var(--font-body);
    font-display: auto;
    padding-right: var(--scrollbar-width)
}

button,
input,
input[type=button],
input[type=text],
select,
textarea {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: var(--font-body)
}

img,
svg {
    display: inline-block;
    max-width: 100%;
    height: auto
}

hr {
    display: block;
    margin: 0 auto 3rem;
    width: 100%;
    height: 1px;
    background: hsla(0, 0%, 100%, .05)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    -webkit-text-stroke: .001px transparent
}

h1 {
    font-size: 2.75rem;
    font-weight: 400
}

@media screen and (max-width:768px) {
    h1 {
        font-size: 2.5rem
    }
}

h2 {
    font-size: 1.375rem
}

a,
h2 {
    font-weight: 500
}

a {
    display: inline;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: inherit;
    transition: all .2s ease
}

.muted {
    color: var(--color-light)
}

p {
    display: block;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5
}

p+p {
    padding-top: 1.5rem
}

p a {
    display: inline-block;
    color: var(--hyperlink)
}

p a:after {
    transition: inherit;
    pointer-events: none;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: 2px;
    background: currentcolor;
    opacity: .2
}

p a:hover {
    transition-duration: .2s
}

p a:hover:after {
    opacity: .3
}

p a:focus-visible {
    border-radius: 2px;
    padding: 0 2px;
    margin: 0 -2px;
    transition: none;
    outline: 2px solid var(--focus)
}

p small {
    font-size: .875rem
}

p big,
p small {
    display: block;
    line-height: 1.3
}

p big {
    font-size: 2.125rem
}

@media screen and (max-width:768px) {
    p {
        font-size: 1.125rem
    }

    p small {
        font-size: .875rem
    }

    p big {
        font-size: 2.0625rem
    }
}

article p {
    font-size: .9375rem;
    font-weight: 300;
    line-height: 1.40625rem;
    letter-spacing: -.00813rem
}

code,
pre {
    font-family: var(--font-code)
}

p code {
    display: inline-block;
    font-size: .875em;
    padding: .05rem .35rem;
    border-radius: .25rem;
    background: #f6f7f9;
    box-shadow: inset 0 0 0 1px #ccc
}

.styles_container__3Tolf {
    z-index: 999;
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0
}

.styles_container__3Tolf,
.styles_content__PBlCz {
    display: flex;
    align-items: center;
    justify-content: center
}

.styles_content__PBlCz {
    gap: .5rem;
    padding: .4rem .8rem;
    border-radius: .5rem;
    color: #fff;
    background: #252525;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .03), inset 0 1px 1px 0 hsla(0, 0%, 100%, .02), 0 2px 4px 0 rgba(0, 0, 0, .3);
    font-size: .875rem;
    font-weight: 300;
    line-height: 1.1375rem;
    transition: all .2s ease
}

.styles_content__PBlCz span {
    transform: translateY(1px)
}

@media screen and (max-width:640px) {
    .styles_content__PBlCz {
        display: none
    }
}

.styles_content__PBlCz:hover {
    background: #343434
}

.styles_content__PBlCz svg {
    display: block
}

.styles_main__XsB95 {
    height: 100%;
    overflow: hidden
}

.styles_button__Mz1TS {
    display: inline-flex;
    align-items: center;
    gap: .6875rem;
    color: #fff;
    font-size: .8125rem;
    font-weight: 300;
    line-height: 1.05625rem;
    opacity: .4
}

.styles_button__Mz1TS svg {
    display: block;
    transition: inherit
}

.styles_button__Mz1TS:hover {
    opacity: .8
}

.styles_button__Mz1TS:hover svg {
    transform: translateX(-.15rem)
}

.styles_main__FjzCk {
    width: 100%;
    max-width: 43.5rem;
    margin: 0 auto;
    padding: 7.3125rem 1rem 2rem;
    --selection-bg: #363636;
    --selection-color: #fff
}

.styles_main__FjzCk section {
    padding: 2.3125rem 0 0
}

.styles_main__FjzCk article {
    max-width: 70ch
}

@media screen and (max-width:640px) {
    .styles_main__FjzCk {
        padding: 1.5rem
    }

    .styles_main__FjzCk section {
        padding: 2rem 0 0
    }
}

.styles_main__FjzCk h1,
.styles_main__FjzCk h2,
.styles_main__FjzCk h3,
.styles_main__FjzCk h4,
.styles_main__FjzCk h5,
.styles_main__FjzCk h6,

.styles_main__FjzCk h1 {
    font-size: 2.5rem;
    line-height: 3rem
}

@media screen and (max-width:768px) {
    .styles_main__FjzCk h1 {
        font-size: 2rem;
        line-height: 2.2rem
    }
}